<h1><strong>PICO<strong></h1>
  <h1><strong><%=@users.count%><strong></h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Password</th>
        <th>ID</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name%></td>
          <td><%= user.number %></td>
          <td><%= user.password %></td>
          <td><%= user.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
